.sun {
    position: absolute;
    box-shadow: 0px 0px 24px 6px #FEB125;
    background-color: #FEB125;
    animation: shine 5s linear infinite;
}

.moon {
    position: absolute;
    box-shadow: 0px 0px 24px 6px #F2E5B4;
    background-color: #F2E5B4;
}

.dot1 {
    content: "";
    position: absolute;
    background-color: #f8dd92;
    border-radius: 50%;
}

.dot2 {
    content: "";
    position: absolute;
    background-color: #f8dd92;
    border-radius: 50%;
}

.star1 {
    content: "";
    position: absolute;
    background-color: #ffffff;
    animation: shootingStar1 5s linear infinite;
}

.star2 {
    content: "";
    position: absolute;
    background-color: #ffffff;
    animation: shootingStar2 5s linear 1s infinite both;
}

@keyframes shine {
    0% {
        opacity: 0.95;
        box-shadow: 0px 0px 24px 6px #FE9853;
    }
    50% {
        opacity: 1;
        box-shadow: 0px 0px 34px 14px #FE9853;
    }
    100% {
        opacity: 0.95;
        box-shadow: 0px 0px 24px 6px #FE9853;
    }
  }

@keyframes shootingStar1 {
    0% {
        transform: rotate(45deg) translate(100px, -200px);
        opacity: 0;
    }
    25% {
        transform: rotate(45deg) translate(100px, -200px);
        opacity: 1;
    }
    75% {
        transform: rotate(45deg) translate(100px, 200px);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes shootingStar2 {
    0% {
        transform: rotate(45deg) translate(50px, -200px);
        opacity: 0;
    }
    25% {
        transform: rotate(45deg) translate(50px, -200px);
        opacity: 1;
    }
    75% {
        transform: rotate(45deg) translate(50px, 200px);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
