@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground: #0c0c0c;
    --background: #fff;
    --accent: #ff3d00;
  }

  .dark {
    --foreground: #fff;
    --background: #0c0c0c;
    --accent: #dcff54;
  }
}

html,
body {
  color: var(--foreground);
  background-color: var(--background);
  height: 100%;
}

::selection {
  background-color: var(--accent);
  color: var(--background);
}

.aurora-gradient {
  background: radial-gradient(
    125% 125% at 50% 0%,
    transparent 50%,
    var(--accent)
  );
}

#logo {
  fill-opacity: 0;
  stroke-dasharray: 150;
  stroke-dashoffset: 150;
  animation: dash 1.5s ease-in forwards;
  font-family: "Mersad", sans-serif;
  transform: transale3d(0, 0, 0);
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select,
  textarea,
  input {
    font-size: 16px;
  }
}

@keyframes dash {
  70% {
    fill-opacity: 30%;
  }

  90% {
    fill-opacity: 100%;
  }

  100% {
    fill-opacity: 100%;
    stroke-dashoffset: 0;
    /* stroke-width: 0.5px; */
  }
}

@keyframes waveform-dance {
  0%,
  100% {
    height: 0.75rem;
  }
  50% {
    height: 3rem;
  }
}

.waveform-bar {
  animation: waveform-dance 1.5s ease-in-out infinite;
}

.waveform-bar:nth-child(1) {
  animation-delay: 0s;
}
.waveform-bar:nth-child(2) {
  animation-delay: 0.1s;
}
.waveform-bar:nth-child(3) {
  animation-delay: 0.2s;
}
.waveform-bar:nth-child(4) {
  animation-delay: 0.3s;
}
.waveform-bar:nth-child(5) {
  animation-delay: 0.4s;
}
.waveform-bar:nth-child(6) {
  animation-delay: 0.5s;
}
.waveform-bar:nth-child(7) {
  animation-delay: 0.6s;
}
.waveform-bar:nth-child(8) {
  animation-delay: 0.7s;
}
.waveform-bar:nth-child(9) {
  animation-delay: 0.8s;
}
.waveform-bar:nth-child(10) {
  animation-delay: 0.9s;
}
